html,
body {
  height: 100%;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  /* background-image: url(../../../public/background.jpg); */
}

/* Ensure this class is correctly named as 'body' if it's meant to be an element class,
   but it seems like it might be intended to target the <body> element itself.
   If so, the '.body' selector should be removed, and the styles applied directly to 'body' as done above. */
.body {
  height: 100%;
}

.root {
  height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%; /* Ensure it takes full width */
  height: 100vh; /* Viewport height: makes the div take up the whole viewport height */
}

.heading-box {
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.landing-header {
  font-size: 60px;
}

.landing-footer {
  background-color: #fae80b;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  padding: 70px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: -160px;
  font-weight: bolder;
}
