html,
body {
  height: 100%;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  background-image: url(../../../public/background.jpg);
  background-size: cover;
}

.root {
  height: 100%;
}
/* Ensure this class is correctly named as 'body' if it's meant to be an element class,
but it seems like it might be intended to target the <body> element itself.
If so, the '.body' selector should be removed, and the styles applied directly to 'body' as done above. */

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted from space-around */
  width: 100%;
  height: 100vh;
  padding-top: 20px; /* Added padding at the top for spacing */
}

.heading-box {
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: auto;
  padding-top: 300px;
  padding-bottom: 500px;
}
.landing-header {
  font-size: 60px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.features {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
}
.feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-pic {
  width: 50%;
}
.description h2 {
  margin-left: 50px;
}

.description p {
  text-align: start;
  margin-left: 50px;
}

.landing-footer {
  background-color: #fae80b;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: -160px;
  font-weight: bolder;
}

.get-started {
  background-color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  color: #fae80b;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap; /* Prevents text from wrapping */
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the content inside the feature */
  align-items: center;
  width: 100%; /* Make the feature take full width */
  background-color: black; /* Ensure the background is black */
  color: white; /* Assuming you want white text */
  padding: 20px 0; /* Add some vertical padding */
}

.feature-image {
  width: auto; /* Adjusted to auto to maintain aspect ratio */
  max-width: 500px; /* Ensure it doesn't exceed 500px */
  height: auto; /* Adjust height to auto to maintain aspect ratio */
}

.feature-info p {
  color: white; /* Assuming you want to keep the white text */

  padding-left: 200px; /* Adds space inside the box */
  padding-right: 200px;
  border-radius: 8px; /* Optional: adds rounded corners */
  margin: 20px 0; /* Adds space outside the box, vertically */
}

.feature-info h2 {
  color: white;
  font-size: 30px;
  margin: 20px 0;
  padding-left: 200px; /* Adds space inside the box */
  padding-right: 200px;
}
