.navigation {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: flex-end;
  background-color: black;
}

.nav-links li {
  display: inline;
  margin-right: 1rem;
}

.nav-buttons li {
  margin-left: 1rem;
}
.logo {
  height: 10%;
  width: 10%;
  margin-left: 100px;
}

a.sign-up {
  background-color: #fae80b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap; /* Prevents text from wrapping */
}

a.log-in {
  background-color: #fae80b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* ProfileButton.css */
.profile-button {
  margin-top: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 34px; /* Adjust the size of the icon */
  color: #fae80b; /* Icon color */
}

.content-nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.content-nav a {
  color: #797979;
  text-decoration: none;
}

.content-nav button {
  border: none;
  font-size: 18px;
  background: none;
  color: #797979;
}
.content-nav a,
.content-nav button {
  border-bottom: 3px solid transparent; /* Reserve space for the border */
  padding-bottom: 5px; /* Adjust if needed */
}

.content-nav a:hover,
.content-nav button:hover {
  color: #fae80b;
  border-bottom: 3px solid #fae80b; /* Change color without changing dimensions */
}
